/target/
src/main/resources/application-localhost.properties

# Clacky-related configuration
.1024*
!.1024
.breakpoints

# Java-specific files
*.class
*.jar
*.war
*.log

# Spring framework-related files
*.tmp
*.temp
*.bak
.DS_Store

# Maven directories
**/target/
**/node_modules/
**/vendor/
**/.idea/
**/.classpath
**/.project
**/.settings/
**/build/
**/dist/
**/out/
**/*.iml
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.save